.product-card {
  background-color: #1e1e1e;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(255, 0, 0, 0.15);
  border: 1px solid #b00020;
  color: #fff;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.product-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #b00020;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-input {
  width: 70px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #b00020;
  background-color: #121212;
  color: #fff;
}

.product-input::placeholder {
  color: #aaa;
}

.button-normal {
  padding: 7px 12px;
  border-radius: 6px;
  border: none;
  background-color: #ff1744;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button-normal:hover {
  background-color: #d50000;
}

.product-unavailable {
  margin-left: 20px;
  color: #ff5252;
  font-style: italic;
}

.finish-btn {
  background-color: #d90429; /* rojo intenso */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  transition: background 0.3s;
}

.finish-btn:hover {
  background-color: #b40322;
}


.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.modal-content {
  background: #1e1e1e;
  width: 400px;
  height: 100%;
  box-shadow: -2px 0 12px rgba(255, 0, 0, 0.25);
  padding: 20px;
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
  position: relative;
  color: #fff;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #b00020;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.close-btn:hover {
  background: #ff1744;
}
